html,body,.row,.mainbody 
{
  height:100%;
}
body
{
  overflow: hidden;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
    cursor: text;
}
/* count button style*/
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


  .round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 8px;    
    text-decoration: none;    
    text-align: center;
    font-size: 25px;    
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;   
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
  }
a.green {
        background-color: #A7CCCC;
    color: rgba(0,63,71,1);
    border-color: #A7CCCC;

  }

 

  .round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
  }
a.round.green
  {
    cursor: pointer;
    -webkit-box-shadow: inset 0px 1px 0px #A7CCCC, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  }
  

  .green span {
    background: rgba(0,63,71,.7);   
  }
  
  li.count {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 55px;
    height: 55px;
  }

/* published event header style*/
.navbar-collapse.collapse span:first-child
{
    font-family: Gill Sans, Verdana;
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}

button.btn.events
{
  width:90%;
  text-align: left;
    padding-left: 20px;
    border-radius: 4px;

}

button.btn.dropdown-toggle,button.btn.events
{
          background-color: #EEE3DF;
    border-color: #EEE3DF;
}
.btn-group
{
  width:100%;
      margin-top: 6px;
}
button.btn.dropdown-toggle {
    width: 10%;
    
}
.glyphicon
{
  padding-right: 3px;
}
.nav-header
{
      background-color: #A7CCCC;
    border-color: #A7CCCC;
    border-radius: 4px;
}

.nav-header .navbar-collapse.collapse {
    color: #2E2D31;
    margin-top: 13px;
}
.selectOption 
{
      background-color: #428bca;
    border: #2e6da4 1px solid;
    color: #fff;
    padding: 7px 15px;
    display: block;
    /* position: absolute; */
    /* left: 0; */
    /* right: 34px; */
    /* text-align: left; */
    text-overflow: ellipsis;
    /* overflow: hidden; */
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    /* box-shadow: inset 0 1px 0 rgba(255,255,255,.1); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.selectOption option
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   color: black;
   background-color: #fff;
}
.col-lg-3.col-md-3.hidden-sm.hidden-xs,.panel,.col-lg-9.col-md-9.col-sm-12.col-xs-12
{
  height:90%;
}
.mainbody {
    background:#F1F1F4;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-left: -15px;
  margin-right: -15px;
}

.form-control,.btn-primary
{
  border-radius: 4px;
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

.brand_network {
    color: #9D9D9D;
    float: left;
    position: absolute;
    left: 70px;
    top: 30px;
    font-size: smaller;
}

.post-content {
    margin-left:58px;
}

.badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute;
}

.navbar
{
      min-height: 40px;
}


span.user-avatar.pull-left.logo img
{
  width: 176px;
    margin-top: 4px;
}
body {
    background-color: #e8e8e8;
}
.col-xs-10.padding-0 {
    padding-left: 50px;
}
.navbar-default
{
  background-color: #f5f5f5;
    border-color: #f5f5f5;
       -webkit-box-shadow: inset 0px 1px 0px #f5f5f5, 0px 5px 0px 0px #f5f5f5, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;

}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover
{
  color:#2E2D31;
      background-color: transparent;
          font-family: Gill Sans, Verdana;
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.a_demo_four {
  cursor: pointer!important;
  text-decoration: none;
      margin-top: 9px;
  background-color:#EEE3DF;
 font-size: 12px!important;
    
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  text-decoration:none;
  color:#2E2D31;
      width: 100%;
    position: absolute;
  padding:10px 20px;
  padding-right:50px;
  background-image: linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -o-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -moz-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -webkit-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -ms-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #EEE3DF),
  color-stop(1, #EEE3DF)
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.a_demo_four:active {

  background-image: linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -o-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -moz-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -webkit-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -ms-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #EEE3DF),
  color-stop(1, #EEE3DF)
  );
  -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.a_demo_four::before {
  background-color:#2591b4;
  background-image:url(right_arrow.png);
  background-repeat:no-repeat;
  background-position:center center;
  content:"";
  width:20px;
  height:20px;
  position:absolute;
  right:15px;
  top:50%;
  margin-top:-9px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
  -moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
  -o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
  box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.a_demo_four:active::before {
  top:50%;
  margin-top:-12px;
  -webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
  -moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
  -o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
  box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}

/* add event/ journey and enable journey */
#container{
  font-family:Arial, Helvetica, sans-serif;
  position:absolute;
  top:0;
  left:0;
  background: #005778;
  width:100%;
  height:100%;
}

#button-container{
  position: relative;
    /* left: -20%; */
    width: 136px;
    height: 34px;
  background:#022c3e;

  -webkit-border-radius:38px;
  -moz-border-radius:38px;
  border-radius:38px;
  -webkit-box-shadow:inset 0 1px 2px #000, 0px 1px 1px rgba(255,255,225,0.2);
  -moz-box-shadow:inset 0 1px 2px #000, 0px 1px 1px rgba(255,255,225,0.2);
  box-shadow:inset 0 1px 2px #000, 0px 1px 0px rgba(255,255,225,0.3);
  /*Hover effect*/
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all;}

#button{
      position: absolute;
    top: 2px;
    left: 3px;
    width: 130px;
    height: 29px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  cursor:pointer;

}

#button p{
    margin-top: 4px;
    margin-left: 27px;
  font-size:.9em;
}

#button-container:active {
  background-image: linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -o-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -moz-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -webkit-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -ms-linear-gradient(bottom, #EEE3DF 0%, #EEE3DF 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #EEE3DF),
  color-stop(1, #EEE3DF)
  );
  -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  
}

/*Colors*/
.yellow{
/*Gradient*/
  background: #A7CCCC;
    background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A7CCCC), color-stop(100%,#A7CCCC));
    background: -webkit-linear-gradient(top,#A7CCCC 0%,#A7CCCC 100%);
    background: -o-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);
    background: linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 );
}



.blue{
  background: rgb(122,188,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}
img.icons
{
      position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 20px;
}
/*ICONS*/
#clock{
  position:absolute;
  top:10px;
  left:20px;
  width:15px;
  height:15px;
  border:2px solid #000;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity:0.8;
}
#clock-hand1{
  position:absolute;
  width:0px;
  height:5px;
  border:1px solid #000;
  top:2px;
  left:7px;
}
#clock-hand2{
  position:absolute;
  width:5px;
  height:0px;
  border:1px solid #000;
  top:7px;
  left:7px;
}

#order{
  position:absolute;
  top:10px;
  left:23px;
  width:10px;
  height:15px;
  border:2px solid #000;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  border-top-right-radius:5px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity:0.8;
}

#order-line{
  position:absolute;
  width:4px;
  height:0px;
  border:1px solid #000;
  top:5px;
  left:0px;
}

#order-line:nth-child(2){
  top:10px;
  width:6px;
}

#camera{
  position:absolute;
  top:12px;
  left:23px;
  width:17px;
  height:11px;
  border:2px solid #000;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity:0.8;
}

#camera-optics{
  position:absolute;
  top:1px;
  left:4px;
  width:5px;
  height:5px;
  border:2px solid #000;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
}

#camera-button{
  position:absolute;
  top:-3px;
  left:1px;
  width:0px;
  height:0px;
  border:2px solid #000;
  border-bottom:0;
}